header {
  font-family: "Times New Roman", serif;
}

hr {
  border-width: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

h1 {
  font-family: "Times New Roman", serif;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Times New Roman", serif;
  display: flex;
  justify-content: center;
}

p {
  white-space: pre-line;
  overflow: hidden;
  font-family: "Times New Roman", serif;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 760px) {
  .aboutMe {
    padding-left: 20px;
    display: inline-block;
  }
}

.aboutMe {
  padding-top: 20px;
}

.mainimg {
  padding: 10px 20px 10px 20px;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  display: inline-block;
  margin: 0;
}

.projectimg #1 {
  display: inline;
}

.projectimg #2 {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.projectimg #3 {
  display: inline;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .mainimg {
    width: 60%;
    margin: auto;
    height: 60%;
  }
}

@media screen and (max-width: 360px) {
  .body {
    text-align: center;
  }
}

body.dark-mode {
  background-color: #111;
  color: #eee;
}

body.dark-mode a {
  z-index: 1;
  font-size: 20px;
  color: #eeeeee;
}

body.dark-mode button {
  float: right;
  background-color: #eee;
  color: #111;
}

body.light-mode {
  background-color: #eee;
  color: #111;
}

body.light-mode a {
  z-index: 1;
  font-size: 20px;
  color: #111;
}

body.light-mode button {
  float: right;
  background-color: #111;
  color: #eee;
}

body.dark-mode #projects {
  background-color: #111111;
}

#projects {
  padding-top: 290px;
  background-color: #eeeeee;
}

.project {
  z-index: 1;
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightblue;
  height: 220px;
  width: 280px;
  margin: 40px 100px;
}

.project-pic {
  z-index: 1;
  width: 100%;
  height: 180px;
  border-bottom: 2px solid lightblue;
}

.project-title {
  z-index: 1;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.dark-mode.project-title {
  color: white;
}

.light-mode.project-title {
  color: black;
}

body hr.dark-mode {
  color: #eeeeee;
}

body hr .light-mode {
  color: #807f7f;
}

.contact-section {
  background: transparent;
  padding: 80px 0;
  text-align: center;
}

.inner-width {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

.contact-section h1 {
  font-size: 20px;
  color: #eee;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
}

.name,
.email,
.message {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
}
#name,
#email,
#message {
  color: #eee;
}
.name {
  float: left;
  width: 270px;
}

.email {
  float: right;
  width: 270px;
}

.message {
  min-width: 100%;
  max-width: 100%;
}

.contact-section a {
  background: none;
  color: #525253;
  text-decoration: none;
  border: 1px solid #525253;
  padding: 12px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.4s linear;
  cursor: pointer;
}

.contact-section a:hover {
  background: #525253;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .name,
  .email {
    width: 100%;
  }
}

.icons {
  list-style: none;
}
.icons li {
  height: 70px;
  width: 70px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}
.icons li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 10%;
  background: linear-gradient(45deg, #525253, #838383);
  transition: all 0.3s ease-in;
}
.icons li:hover:before {
  transform: rotate(360deg);
  border-radius: 100%;
}
.icons li a span {
  font-size: 27px;
  line-height: 70px;
  color: #fff;
  transition: all 0.3s ease-out;
}
.icons li:hover a span {
  transform: scale(1.2);
}
.header {
  height: 100px;
  background: transparent;
  padding: 0 20px;
  color: #fff;
}
.logo {
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu {
  float: right;
  line-height: 100px;
}
.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  float: right;
}
.show-menu-btn i {
  line-height: 100px;
}
#logo {
  line-height: 100px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  transition: 0.4s;
}
#logo a:hover,
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #eee;
  background-color: #807f7f;
  border-radius: 10%;
  border-width: 50%;
  border: 50%;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
@media screen and (max-width: 800px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu {
    right: 0;
  }
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

.gotopbtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 10%;
  background: linear-gradient(45deg, #525253, #838383);
  transition: all 0.3s ease-in;
}

.gotopbtn:hover:before {
  transform: rotate(360deg);
  border-radius: 100%;
}

.content {
  justify-content: center;
  margin: auto;
}

.displayed {
  display: block;
  margin-left: auto;
  padding: 0px 22px 0px 22px;
}

.about h3 {
  text-align: center;
}
@media (min-width: 800px) and (max-width: 1800) {
  .displayed {
    display: block;
    top: 50%;
    left: 50%;
    margin-left: 20%;
  }
}
form input {
  border: none;
  margin-bottom: 5%;
  padding: 28px;
  margin-left: 15%;
  width: 220px;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #eee;
  background: linear-gradient(45deg, #525253, #838383);
  background-size: 200%;
  transition: 0.6s;
}
